<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Dell/IdeaProjects/API_Automation_ATB7x/src/test/java/org/example/testNG_CRUD/test002.java">
        <classes>
            <class name="org.example.testNG_restAssured_CRUD.test001">
                <methods>
                    <include name="test_post"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>